ul#sorting-options li 
{
    text-align: center;
    list-style-type: none;
    background-color:rgba(212, 203, 203, 0.183);
    transition: all 0.4s ease;
}

ul#sorting-options a
{
    text-decoration: none;
    color:  #387070;
}

ul#sorting-options
{
    padding:0px;

}

ul#sorting-options li:hover
{
    background-color:rgba(212, 203, 203, 0.591);
    transition-duration: 0.5s;
}

ul#sorting-options li:active
{
    background-color:rgba(212, 203, 203, 0.4);
    transition-duration: 0.5s;
}



